@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.role-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center; /* Center the text inside elements */
    /*background-color: #851e22 !important; */
    background-size: cover;
    background-image: url("../../priv/static/images/bg-loading-screen.png") !important;
  }

  .cap-main-page{
    font-family: Apple Chancery, cursive;
    font-weight:400;
    font-style: italic;
    font-size: 55px;
    color: #252531; /*  text color*/

  }
  .title-main-page{
    font-family: Bookman, URW Bookman L, serif ;
    font-style: italic;
    font-size: 32px;
    color: #252531; /*  text color*/

  }
  .title2-main-page{
    font-family: Bookman, URW Bookman L, serif ;
    font-size: 24px;
    color: #252531; /*  text color*/

  }
  .game-text-cursive{
    font-family: Apple Chancery, cursive;
  }
  .game-text-arial{

  }

  .text-input-field{
    width: 20%; 
    padding: 10px; 
    font-size: 18px;
    font-family: Apple Chancery, cursive;
    background-color: #f7f4ea;
    color: rgb(46, 46, 46); /*  text color*/
  }
  .text-input-field-code{
    width: 20%; 
    padding: 10px; 
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f4ea;
    color: rgb(46, 46, 46); /*  text color*/
  }
  .clickable-button {
  background-color: #252531;
  color: white; /*  text color*/
  border: none; 
  padding: 8px 18px; /* Add padding */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Apple Chancery, cursive;
  font-weight: bold;
  font-size: 18px; 
  border-radius: 8px; /* Rounded corners */
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.clickable-button:hover {
  background-color: #000000;
}
  