
    
<body>
  <h1>
    <span class="cap-main-page">L</span><span class="title-main-page">OUP </span>
    <span class="cap-main-page">G</span><span class="title-main-page">AROU</span>
  </h1>
  <h2><span class="title2-main-page">(ALMOST) ORIGINAL GAME</span></h2>
  <p>&nbsp;</p>
  <h2><span>🐺 🐺 🐺 🐺 🐺 🐺 🐺 🐺 🐺 🐺 🐺 🐺 🐺 🐺 🐺 🐺 🐺 🐺 🐺 🐺 🐺 🐺 🐺 🐺 🐺 🐺 🐺 🐺 🐺 🐺 🐺 🐺 🐺 🐺 🐺 🐺 🐺 🐺 🐺 🐺 🐺 🐺 🐺 🐺</span></h2>
  <p>&nbsp;</p>
  <input class="text-input-field" type="text" id="nameInput" placeholder="Write your name here">
  <p>&nbsp;</p>
  <button class="clickable-button" type="button" onclick="redirectToNewGame()">New game!</button>
  <p>&nbsp;</p>
  <input class="text-input-field-code" type="text" id="gameCodeInput" placeholder="Enter game code here">
  <p>&nbsp;</p>
  <button class="clickable-button" type="button" onclick="redirectToExistingGame()">Join existing game!</button>
</body>

    <script>
        function getName() {
            // Retrieve the name from the contenteditable element
            return document.getElementById('nameInput').value;
        }

        function getGameCodeInput() {
            // Retrieve the name from the contenteditable element
            return document.getElementById('gameCodeInput').value;
        }

        function redirectToNewGame() {
            const name = getName();
            if (name !== "") {
                console.log('Starting new game with name:', name);
                window.location.href = '/create_game_room/' + name
            } else {
                alert('Please enter your name!');
            }
        }



    function redirectToExistingGame() {
    const name = getName();
    const gameCode = getGameCodeInput();

    if (name === '') {
        alert('Please enter your name!');
        return;
    }

    if (!gameCode) {
        alert('Please enter a valid game code!');
        return;
    }

    console.log('Checking if game room exists for code:', gameCode);

    // check if the name is already taken
    fetch(`/check_player_name/${encodeURIComponent(gameCode)}/${encodeURIComponent(name)}`)
        .then(response => response.json())
        .then(data => {
            if (data.exists) {
                alert('This name is already in use! Please choose a different name.');
            } else if (data.error) {
                alert(data.error);
            } else {
                window.location.href = `/join_game_room/?code=${encodeURIComponent(gameCode)}&name=${encodeURIComponent(name)}`;
            }
        })
        .catch(error => {
            console.error('Error validating name:', error);
            alert('An error occurred while validating the name. Please try again.');
        });
}


    </script>


  

 