<p>Your game with the game code: <%= @code %>; will start as soon as you wish</p>
<p>players online: </p>
<%= for{playerName, _pid} <- @playerMap do %>
  <p><%= playerName %></p>
<% end %>

<button type="button" onclick={"redirectToRoleDistribution('#{@code}', '#{@playerName}')"}>Let's begin</button>

  <script>
    function redirectToRoleDistribution(code, playerName){
      window.location.href = '/role_distribution/' + code + '/' + playerName
    }
  </script>
