<!-- Author Marta DL dec 6 10:18AM --> 
<p>You are waiting for game <strong><%= @code %></strong> to start. The host will start the game.</p>
<br>
  <p>Players online:</p>
  <br>
  <ul style="list-style-type: disc; margin-left: 20px;">
    <%= for {playerName, _pid} <- @playerMap do %>
      <li style="margin-bottom: 5px;"><%= playerName %></li>
    <% end %>
  </ul>


